// app global css
@font-face  
  font-family RobotoN 
  src url(fonts/Roboto-Bold.ttf)
  src url(fonts/Roboto-Thin.ttf)
  src url(fonts/Roboto-Light.ttf)
  src url(fonts/Roboto-Bold.ttf)
  src url(fonts/Roboto-Regular.ttf)

  font-family MontserratN 
  src url(fonts/Montserrat-Bold.ttf)
  src url(fonts/Montserrat-Thin.ttf)
  src url(fonts/Montserrat-Light.ttf)
  src url(fonts/Montserrat-Bold.ttf)
  src url(fonts/Montserrat-Regular.ttf)

.pointer{
position:absolute;  background-color:#e67e27;   width:16px; height:16px;
 border-radius: 8px; font-size:8pt 
}
div.pointer > span{
padding-left:18px;
color:#e67e27; 
}


.cntxmenuclass{
position:absolute;
    border: 1px solid #5c46fc;
    padding:10px;
    border-radius: 3px; 
    background-color: #fff;
    z-index:100;
    width:200px 
}
